@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #fff;
  --main-color: #000;
}

.dark {
  --main-bg-color: #000;
  --main-color: #fff;

  background-color: var(--main-bg-color);
  color: var(--main-color);
}

.color {
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

.nav-link {
  color: var(--main-bg-color);
  background-color: var(--main-color);
}

input {
  outline: none;
  background-color: transparent;
}
